# Databases
*.db
*.db.bak
flowbrain.db

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Node / JS / TS (Frontend)
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.vite/
.parcel-cache

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
